<!DOCTYPE html>
<html lang="en">
    <head>
        <title>First Display Work</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        
        <link  rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/fgcserver.css">
        <script src="/static/fgcserver.js"></script>
    </head>
      
    <style>
    </style>    
    <body>
                
        <!-- White line and black line around all display and keyboard -->
        <div class="container-fluid" style="height:100%; background-color:white; padding:0.2%;">
            <div class="container-fluid" style="height:100%; background-color:black; padding:0.2%;">

                <!-- Display container with white band. Set the initial size -->
                <div class="container-fluid" id="display_size" style="height:30%; background-color:white; padding:0.2%;">
                    <div class="container-fluid" style="height:100%; background-color:black; padding:0.2%;">

                        <!-- Top line of display. This has 3 text areas, 2 left 1 right -->
                        <div class="container-fluid" style="height:33%; background-color:black; padding:0.2%;">           
                            <div class="flex_container_space_between" >
                                <div class="flex_container_flex_start" style="width:75%" >
                                    <div class="flex_item_text_left" id="display_top1"></div>  
                                    <div class="flex_item_text_left" id="display_top2"></div>
                                </div>
                                <div class="flex_container_flex_end" style="width:25%" >
                                    <div class="flex_item_text_right" id="display_top3">No Time</div>  
                                </div>
                            </div>
                        </div>

                        <!-- Middle line of display. This is divided into right and left justified areas-->
                        <div class="container-fluid" style="height:33%; background-color:black; padding:0.2%;" id="display_middle">           
                            <div class="flex_container_space_between" id="middle_line">
                                <div class="flex_container_flex_start" id="middle_line_program" style="width:75%" >
                                    <div class="cyan_text_field" id="status_text" ></div>  
                                    <div class="cyan_text_field" id="turn_on_text" ></div>  
                                    <div class="on_at_field" id="on_at_digit_0"></div>
                                    <div class="on_at_field" id="on_at_digit_1"></div>
                                    <div class="on_at_field" id="on_at_digit_2"></div>
                                    <div class="on_at_field" id="on_at_digit_3"></div>
                                    <div class="on_at_field" id="on_at_digit_4"></div>
                                    <div class="cyan_text_field" id="turn_off_text" ></div>  
                                    <div class="off_at_field" id="off_at_digit_0"></div>
                                    <div class="off_at_field" id="off_at_digit_1"></div>
                                    <div class="off_at_field" id="off_at_digit_2"></div>
                                    <div class="off_at_field" id="off_at_digit_3"></div>
                                    <div class="off_at_field" id="off_at_digit_4"></div>
                                    <div class="cyan_text_field" id="days_text" ></div>  
                                    <div class="days_field" id="days_day_0"></div>
                                    <div class="days_field" id="days_day_1"></div>
                                    <div class="days_field" id="days_day_2"></div>
                                    <div class="days_field" id="days_day_3"></div>
                                    <div class="days_field" id="days_day_4"></div>
                                    <div class="days_field" id="days_day_5"></div>
                                    <div class="days_field" id="days_day_6"></div>
                                </div>
                                <div class="flex_container_flex_end" id="middle_line_left" style="width:25%" >
                                    <div class="flex_item_text_right" id="display_entries" style="color:cyan;"></div>  
                                </div>
                            </div>
                        </div>

                        <!-- Bottom line of display.  This has 3 text areas, 2 left 1 right -->
                        <div class="container-fluid" style="height:33%; background-color:black; padding:0.2%;">           
                            <div class="flex_container_space_between" >
                                <div class="flex_container_flex_start" style="width:75%" >
                                    <div class="flex_item_text_left" id="bottom_line_left" ></div>  
                                    <div class="flex_item_text_left" id="display_bottom2"></div>
                                </div>
                                <div class="flex_container_flex_end" style="width:25%" >
                                    <div class="flex_item_text_right" id="display_bottom3"></div>  
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            
                <!-- Black line between display and keyboard white lines (an empty container) -->
                <div class="container-fluid"style="height:0.2%; background-color:black;"></div>
            
                <!-- Keyboard container with white band,  Set the initial size, allow for black line of 0.2% -->
                <div class="container-fluid" id = "keyboard_size" style="height:69.8%; background-color:white;padding:0.2%;">
                    <div class="container-fluid" id = "keyboards" style="height:100%; background-color:black; padding:0.2%;">

                        <!-- This is a blank keyboard area and we will clone the required keyboard to front of it -->
                        <div class="keyboard" id="blank_keyboard">
                        </div>

                        <!-- This is the keyboard for main function selection. It will be cloned into blank-keyboard -->
                        <div class="keyboard hide_keyboard" id="main_function_keyboard">
                            <!-- Group for 1st row of function buttons -->
                            <div class="btn-group-justified btn_row" id="key_row1">
                                <div class="btn-group btn_holder" id="key21"> 
                                    <button class="btn btn_basic btn_operation" id="function_heating"> Heating </button> 
                                </div>    
                            </div>
                            <!-- Group for 2nd row of function buttons -->
                            <div class="btn-group-justified btn_row" id="key_row2">
                                <div class="btn-group btn_holder" id="key22"> 
                                    <button class="btn btn_basic btn_operation" id="function_alarm"> Alarm </button> 
                                </div>    
                            </div>
                            <!-- Group for 3rd row of function buttons -->
                            <div class="btn-group-justified btn_row" id="key_row3">
                                <div class="btn-group btn_holder" id="key23"> 
                                    <button class="btn btn_basic btn_operation" id="function_lights"> Lights </button> 
                                </div>    
                            </div>
                            <!-- Group for 4th row of function buttons -->
                            <div class="btn-group-justified btn_row" id="key_row4">
                                <div class="btn-group btn_holder" id="key24"> 
                                    <button class="btn btn_basic btn_operation" id="function_gates"> Gates </button> 
                                </div>    
                            </div>
                        </div>
                        
                        <!-- This is the keyboard for rad zone selection. It will be cloned into blank-keyboard -->
                        <div class="keyboard hide_keyboard" id="rad_select_keyboard">
                            <!-- Group for 1st row of rad buttons -->
                            <div class="btn-group-justified btn_row" id="key_row1">
                                <div class="btn-group btn_holder" id="key1">
                                    <button class="btn btn_basic btn_zone" id="zone1"> Bed 1 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key2">
                                    <button class="btn btn_basic btn_zone" id="zone2"> Bed 2 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key3"> 
                                    <button class="btn btn_basic btn_zone" id="zone3"> Bed 3 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key4"> 
                                    <button class="btn btn_basic btn_zone" id="zone4"> Bed 4 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key5"> 
                                    <button class="btn btn_basic btn_rad_mode" id="control_rads"> Rads </button> 
                                </div>    
                            </div>
                            <!-- Group for 2nd row of rad buttons -->
                            <div class="btn-group-justified btn_row" id="key_row2">
                                <div class="btn-group btn_holder" id="key6">
                                    <button class="btn btn_basic btn_zone" id="zone5"> Bed 5 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key7">
                                    <button class="btn btn_basic btn_zone" id="zone6"> Bath 1 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key8"> 
                                    <button class="btn btn_basic btn_zone" id="zone7"> Bath 2 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key9"> 
                                    <button class="btn btn_basic btn_zone" id="zone8"> Bath 3/4 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key10"> 
                                    <button class="btn btn_basic btn_rads_ufh" id="control_ufh"> Ufh </button> 
                                </div>    
                            </div>
                            <!-- Group for 3rd row of rad buttons -->
                            <div class="btn-group-justified btn_row" id="key_row3">
                                <div class="btn-group btn_holder" id="key11">
                                    <button class="btn btn_basic btn_zone" id="zone9"> Hall Up </button>
                                </div>
                                <div class="btn-group btn_holder" id="key12">
                                    <button class="btn btn_basic btn_zone" id="zone10"> Kitchen </button>
                                </div>
                                <div class="btn-group btn_holder" id="key13"> 
                                    <button class="btn btn_basic btn_zone" id="zone11"> Dining </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key4"> 
                                    <button class="btn btn_basic btn_zone" id="zone12"> Library </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key15"> 
                                    <button class="btn btn_basic btn_select" id="control_system"> System </button> 
                                </div>    
                            </div>
                            <!-- Group for 4th row of rad buttons -->
                            <div class="btn-group-justified btn_row" id="key_row4">
                                <div class="btn-group btn_holder" id="key16">
                                    <button class="btn btn_basic btn_zone_blank" id="rad_blank1"> &nbsp; </button>
                                </div>
                                <div class="btn-group btn_holder" id="key17">
                                    <button class="btn btn_basic btn_zone" id="zone13"> Cloak </button>
                                </div>
                                <div class="btn-group btn_holder" id="key18"> 
                                    <button class="btn btn_basic btn_zone" id="zone14"> Sitting </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key19"> 
                                    <button class="btn btn_basic btn_zone_blank" id="rad_blank2"> &nbsp; </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key20"> 
                                    <button class="btn btn_basic btn_heating_finished" id="control_finished"> Finished </button> 
                                </div>    
                            </div>
                        </div>
                        
                        <!-- This is the keyboard for ufh zone selection. It will be cloned into blank-keyboard -->
                        <div class="keyboard hide_keyboard" id="ufh_select_keyboard">
                            <!-- Group for 1st row of ufh buttons -->
                            <div class="btn-group-justified btn_row" id="key_row1">
                                <div class="btn-group btn_holder" id="key1">
                                    <button class="btn btn_basic btn_zone" id="zone15"> Bed 1 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key2">
                                    <button class="btn btn_basic btn_zone" id="zone16"> Bed 2 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key3"> 
                                    <button class="btn btn_basic btn_zone" id="zone17"> Bed 3 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key4"> 
                                    <button class="btn btn_basic btn_zone" id="zone18"> Bed 4 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key5"> 
                                    <button class="btn btn_basic btn_rads_ufh" id="control_rads"> Rads </button> 
                                </div>    
                            </div>
                            <!-- Group for 2nd row of ufh buttons -->
                            <div class="btn-group-justified btn_row" id="key_row2">
                                <div class="btn-group btn_holder" id="key6">
                                    <button class="btn btn_basic btn_zone" id="zone19"> Bed 5 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key7">
                                    <button class="btn btn_basic btn_zone" id="zone20"> Bath 1 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key8"> 
                                    <button class="btn btn_basic btn_zone" id="zone21"> Bath 2 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key9"> 
                                    <button class="btn btn_basic btn_zone" id="zone22"> Bath 3/4 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key10"> 
                                    <button class="btn btn_basic btn_ufh_mode" id="control_ufh"> Ufh </button> 
                                </div>    
                            </div>
                            <!-- Group for 3rd row of ufh buttons -->
                            <div class="btn-group-justified btn_row" id="key_row3">
                                <div class="btn-group btn_holder" id="key11">
                                    <button class="btn btn_basic btn_zone" id="zone23"> Hall Up </button>
                                </div>
                                <div class="btn-group btn_holder" id="key12">
                                    <button class="btn btn_basic btn_zone" id="zone24"> Kitchen </button>
                                </div>
                                <div class="btn-group btn_holder" id="key13"> 
                                    <button class="btn btn_basic btn_zone" id="zone25"> Dining </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key4"> 
                                    <button class="btn btn_basic btn_zone" id="zone26"> Library </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key15"> 
                                    <button class="btn btn_basic btn_select" id="control_system"> System </button> 
                                </div>    
                            </div>
                            <!-- Group for 4th row of ufh buttons -->
                            <div class="btn-group-justified btn_row" id="key_row4">
                                <div class="btn-group btn_holder" id="key16">
                                    <button class="btn btn_basic btn_zone" id="zone27"> Hall Down </button>
                                </div>
                                <div class="btn-group btn_holder" id="key17">
                                    <button class="btn btn_basic btn_zone" id="zone28"> Cloak </button>
                                </div>
                                <div class="btn-group btn_holder" id="key18"> 
                                    <button class="btn btn_basic btn_zone" id="zone29"> Sitting </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key19"> 
                                    <button class="btn btn_basic btn_zone" id="zone30"> SittingX </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key20"> 
                                    <button class="btn btn_basic btn_heating_finished" id="control_finished"> Finished </button> 
                                </div>    
                            </div>
                        </div>

                        <!-- This is the keyboard for program selection. It will be cloned into blank-keyboard -->
                        <div class="keyboard hide_keyboard" id="timer_set_keyboard">
                            <!-- Group for 1st row of time buttons -->
                            <div class="btn-group-justified btn_row" id="key_row1">
                                <div class="btn-group btn_holder" id="key1">
                                    <button class="btn btn_basic btn_digit" id="digit_1"> 1 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key2">
                                    <button class="btn btn_basic btn_digit" id="digit_2"> 2 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key3"> 
                                    <button class="btn btn_basic btn_digit" id="digit_3"> 3 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key4"> 
                                    <button class="btn btn_basic btn_on_off_days" id="control_on_at"> On At </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key5"> 
                                    <button class="btn btn_basic btn_select" id="control_blank_5"></button> 
                                </div>    
                            </div>
                            <!-- Group for 2nd row of time buttons -->
                            <div class="btn-group-justified btn_row" id="key_row2">
                                <div class="btn-group btn_holder" id="key6">
                                    <button class="btn btn_basic btn_digit" id="digit_4"> 4 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key7">
                                    <button class="btn btn_basic btn_digit" id="digit_5"> 5 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key8"> 
                                    <button class="btn btn_basic btn_digit" id="digit_6"> 6 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key9"> 
                                    <button class="btn btn_basic btn_on_off_days" id="control_off_at"> Off At </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key10"> 
                                    <button class="btn btn_basic btn_select" id="control_blank_10"></button> 
                                </div>    
                            </div>
                            <!-- Group for 3rd row of time buttons -->
                            <div class="btn-group-justified btn_row" id="key_row3">
                                <div class="btn-group btn_holder" id="key11">
                                    <button class="btn btn_basic btn_digit" id="digit_7"> 7 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key12">
                                    <button class="btn btn_basic btn_digit" id="digit_8"> 8 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key13"> 
                                    <button class="btn btn_basic btn_digit" id="digit_9"> 9 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key14"> 
                                    <button class="btn btn_basic btn_on_off_days" id="control_days"> Days </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key15"> 
                                    <button class="btn btn_basic btn_new" id="control_new"> New </button> 
                                </div>    
                            </div>
                            <!-- Group for 4th row of time buttons -->
                            <div class="btn-group-justified btn_row" id="key_row4">
                                <div class="btn-group btn_holder" id="key16">
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_16"></button> 
                                </div>
                                <div class="btn-group btn_holder" id="key17">
                                    <button class="btn btn_basic btn_digit" id="digit_0"> 0 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key18"> 
                                    <button class="btn btn_basic btn_delete" id="control_delete"> Delete </button>
                                </div>
                                <div class="btn-group btn_holder" id="key19"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_19"></button> 
                                </div>
                                <div class="btn-group btn_holder" id="key20"> 
                                    <button class="btn btn_basic btn_back" id="control_back"> Back </button> 
                                </div>    
                            </div>
                        </div>

                        <!-- This is the keyboard for time entry. It will be cloned into blank-keyboard -->
                        <div class="keyboard hide_keyboard" id="time_entry_keyboard">
                            <!-- Group for 1st row of time buttons -->
                            <div class="btn-group-justified btn_row" id="key_row1">
                                <div class="btn-group btn_holder" id="key1">
                                    <button class="btn btn_basic btn_digit" id="digit_1"> 1 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key2">
                                    <button class="btn btn_basic btn_digit" id="digit_2"> 2 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key3"> 
                                    <button class="btn btn_basic btn_digit" id="digit_3"> 3 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key4"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_4"></button> 
                                </div>
                                <div class="btn-group btn_holder" id="key5"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_5"></button> 
                                </div>    
                            </div>
                            <!-- Group for 2nd row of time buttons -->
                            <div class="btn-group-justified btn_row" id="key_row2">
                                <div class="btn-group btn_holder" id="key6">
                                    <button class="btn btn_basic btn_digit" id="digit_4"> 4 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key7">
                                    <button class="btn btn_basic btn_digit" id="digit_5"> 5 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key8"> 
                                    <button class="btn btn_basic btn_digit" id="digit_6"> 6 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key9"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_9"></button> 
                                </div>
                                <div class="btn-group btn_holder" id="key10"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_10"></button> 
                                </div>    
                            </div>
                            <!-- Group for 3rd row of time buttons -->
                            <div class="btn-group-justified btn_row" id="key_row3">
                                <div class="btn-group btn_holder" id="key11">
                                    <button class="btn btn_basic btn_digit" id="digit_7"> 7 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key12">
                                    <button class="btn btn_basic btn_digit" id="digit_8"> 8 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key13"> 
                                    <button class="btn btn_basic btn_digit" id="digit_9"> 9 </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key14"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_14"></button> 
                                </div>
                                <div class="btn-group btn_holder" id="key15"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_15"></button> 
                                </div>    
                            </div>
                            <!-- Group for 4th row of time buttons -->
                            <div class="btn-group-justified btn_row" id="key_row4">
                                <div class="btn-group btn_holder" id="key16">
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_16"></button>
                                </div>
                                <div class="btn-group btn_holder" id="key17">
                                    <button class="btn btn_basic btn_digit" id="digit_0"> 0 </button>
                                </div>
                                <div class="btn-group btn_holder" id="key18"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_18"></button> 
                                </div>
                                <div class="btn-group btn_holder" id="key19"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_19"></button> 
                                </div>
                                <div class="btn-group btn_holder" id="key20"> 
                                    <button class="btn btn_basic btn_back" id="control_back"> Back </button> 
                                </div>    
                            </div>
                        </div>
                        
                        <!-- This is the keyboard for day selection. It will be cloned into blank-keyboard -->
                        <div class="keyboard hide_keyboard" id="day_select_keyboard">
                            <!-- Group for 1st row of day buttons -->
                            <div class="btn-group-justified btn_row" id="key_row1">
                                <div class="btn-group btn_holder" id="key1">
                                    <button class="btn btn_basic btn_day" id="day_mon"> Mon </button>
                                </div>
                                <div class="btn-group btn_holder" id="key2">
                                    <button class="btn btn_basic btn_day" id="day_tue"> Tue </button>
                                </div>
                                <div class="btn-group btn_holder" id="key3"> 
                                    <button class="btn btn_basic btn_day" id="day_wed"> Wed </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key4"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_4"></button> 
                                </div>
                                <div class="btn-group btn_holder" id="key5"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_5"></button> 
                                </div>    
                            </div>
                            <!-- Group for 2nd row of day buttons -->
                            <div class="btn-group-justified btn_row" id="key_row2">
                                <div class="btn-group btn_holder" id="key6">
                                    <button class="btn btn_basic btn_day" id="day_thu"> Thur </button>
                                </div>
                                <div class="btn-group btn_holder" id="key7">
                                    <button class="btn btn_basic btn_day" id="day_fri"> Fri </button>
                                </div>
                                <div class="btn-group btn_holder" id="key8"> 
                                    <button class="btn btn_basic btn_day" id="day_sat"> Sat </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key9"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_9"></button> 
                                </div>
                                <div class="btn-group btn_holder" id="key10"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_10"></button> 
                                </div>    
                            </div>
                            <!-- Group for 3rd row of day buttons -->
                            <div class="btn-group-justified btn_row" id="key_row3">
                                <div class="btn-group btn_holder" id="key11">
                                    <button class="btn btn_basic btn_day" id="day_mon_fri"> Mon-Fri </button>
                                </div>
                                <div class="btn-group btn_holder" id="key12">
                                    <button class="btn btn_basic btn_day" id="day_sun"> Sun </button>
                                </div>
                                <div class="btn-group btn_holder" id="key13"> 
                                    <button class="btn btn_basic btn_day" id="day_sat_sun"> Sat & Sun </button> 
                                </div>
                                <div class="btn-group btn_holder" id="key14"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_14"></button> 
                                </div>
                                <div class="btn-group btn_holder" id="key15"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_15"></button> 
                                </div>    
                            </div>
                            <!-- Group for 4th row of day buttons -->
                            <div class="btn-group-justified btn_row" id="key_row4">
                                <div class="btn-group btn_holder" id="key16">
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_16"></button>
                                </div>
                                <div class="btn-group btn_holder" id="key17">
                                    <button class="btn btn_basic btn_day" id="day_every_day"> Every Day </button>
                                </div>
                                <div class="btn-group btn_holder" id="key18"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_18"></button> 
                                </div>
                                <div class="btn-group btn_holder" id="key19"> 
                                    <button class="btn btn_basic btn_select_blank" id="control_blank_19"></button> 
                                </div>
                                <div class="btn-group btn_holder" id="key20"> 
                                    <button class="btn btn_basic btn_back" id="control_back"> Back </button> 
                                </div>    
                            </div>
                        </div>
                        
                        <!-- This is where we keep keys we will clone into current-keyboard -->
                        <div class="keyboard hide_keyboard" id="keyboard_keys">
                            <!-- Group for buttons -->
                            <div class="btn-group-justified btn_row" id="clone_keys">
                                <div class="btn-group btn_holder" id="set_timer_key">
                                    <button class="btn btn_basic btn_set_timer" id="control_set_timer"> Set Timer </button>
                                </div>
                                <div class="btn-group btn_holder" id="boost_1_hour_key">
                                    <button class="btn btn_basic btn_boost" id="control_boost_1_hour"> Boost 1 hr </button>
                                </div>
                                <div class="btn-group btn_holder" id="boost_2_hours_key">
                                    <button class="btn btn_basic btn_boost" id="control_boost_2_hours"> Boost 2 hrs </button>
                                </div>
                                <div class="btn-group btn_holder" id="boost_off_key">
                                    <button class="btn btn_basic btn_boost" id="control_boost_off"> Boost Off</button>
                                </div>
                                <div class="btn-group btn_holder" id="blank_key">
                                    <button class="btn btn_basic btn_select_blank" id="control_blank"> &nbsp; </button>
                                </div>
                                <div class="btn-group btn_holder" id="back_key">
                                    <button class="btn btn_basic btn_back" id="control_back"> Back </button>
                                </div>
                                <div class="btn-group btn_holder" id="next_key">
                                    <button class="btn btn_basic btn_previous_next" id="control_next"> Next </button>
                                </div>
                                <div class="btn-group btn_holder" id="previous_key">
                                    <button class="btn btn_basic btn_previous_next" id="control_previous"> Previous </button>
                                </div>
                                <div class="btn-group btn_holder" id="save_key">
                                    <button class="btn btn_basic btn_select" id="control_save"> Save </button>
                                </div>
                                <div class="btn-group btn_holder" id="confirm_key">
                                    <button class="btn btn_basic btn_select" id="control_confirm"> Confirm </button>
                                </div>
                                <div class="btn-group btn_holder" id="cancel_key">
                                    <button class="btn btn_basic btn_select" id="control_cancel"> Cancel </button>
                                </div>
                                <div class="btn-group btn_holder" id="on_at_key"> 
                                    <button class="btn btn_basic btn_on_off_days" id="control_on_at"> On At </button> 
                                </div>
                                <div class="btn-group btn_holder" id="off_at_key"> 
                                    <button class="btn btn_basic btn_on_off_days" id="control_off_at"> Off At </button> 
                                </div>
                                <div class="btn-group btn_holder" id="days_key"> 
                                    <button class="btn btn_basic btn_on_off_days" id="control_days"> Days </button> 
                                </div>
                                <div class="btn-group btn_holder" id="delete_key"> 
                                    <button class="btn btn_basic btn_delete" id="control_delete"> Delete </button>
                                </div>
                                <div class="btn-group btn_holder" id="suspend_key"> 
                                    <button class="btn btn_basic btn_suspend_resume" id="control_suspend"> Suspend </button>
                                </div>
                                <div class="btn-group btn_holder" id="resume_key"> 
                                    <button class="btn btn_basic btn_suspend_resume" id="control_resume"> Resume </button>
                                </div>
                                <div class="btn-group btn_holder" id="enable_key"> 
                                    <button class="btn btn_basic btn_enable_disable" id="control_enable"> Enable </button>
                                </div>
                                <div class="btn-group btn_holder" id="disable_key"> 
                                    <button class="btn btn_basic btn_enable_disable" id="control_disable"> Disable </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </body>
</html>
