html *{
   font-size: 2.6vw;
   font-family: monospace bold;
}        
/* Each row of buttons is 25% of the keyboard height. */
.btn_row {
    height:25%;
}
/* Define a holder for each button. The padding gives us a space between buttons. */
.btn_holder {
    height:25%;
    background-color:black;
    padding:0.1%;        
}
/* Define our basic button style */
.btn_basic {
    height:100%;
    border: 1.5vh  ridge ;
    background-color:grey;
    font-family: Verdana;
    color:white;
}
/* Define our unselected day key style.*/
.btn_day {
    border-color:grey;
}
/* Define our rads or ufh key style. */
.btn_rads_ufh {
    border-color:cyan;
    opacity:1;
}
/* Define our set timer key style. */
.btn_set_timer {
    border-color:cyan;
    opacity:1;
}
/* Define our new key style. */
.btn_new {
    border-color:cyan;
    opacity:1;
}
/* Define our back key style. */
.btn_back {
    border-color:cyan;
    opacity:1;
}
/* Define our heating finished key style. */
.btn_heating_finished {
    border-color:cyan;
    opacity:1;
}
/* Define our on at/off at/days key style. */
.btn_on_off_days {
    border-color:cyan;
    opacity:1;
}
/* Define our previous/next key style. */
.btn_previous_next {
    border-color:cyan;
    opacity:1;
}
/* Define our suspend/resume key style. */
.btn_suspend_resume {
    border-color:cyan;
    opacity:1;
}
/* Define our boost key style. */
.btn_boost {
    border-color:cyan;
    opacity:1;
}
/* Define our delete/confirm/cancel key style. */
.btn_delete {
    border-color:cyan;
    opacity:1;
}
/* Define our enable/disable/confirm/cancel key style. */
.btn_enable_disable {
    border-color:cyan;
    opacity:1;
}
/* Define our active 'day' entry key style. */
.btn_day_entry {
    border-color:red;
    opacity:1;
}
/* Define our unselected digit key style. */
.btn_digit {
    border-color:grey;
    opacity:0.8;
}
/* When a digit button is clicked we keep the key as is. */
.btn_digit_clicked,  .btn_digit_clicked:focus {
    color:white;
}
/* Define our active 'on at' entry key style. */
.btn_on_at_entry {
    border-color:red;
    opacity:1;
}
/* Define our active 'off at' entry key style. */
.btn_off_at_entry {
    border-color:red;
    opacity:1;
}
/* Define our active operation key style. */
.btn_operation {
    border-color:cyan;
}
/* Define our active select key style. */
.btn_select {
    border-color:cyan;
}
/* Define our blank select key style. */
.btn_select_blank {
    border-color:cyan;
    opacity:0.8;
}
/* When a select button is clicked we keep the key as is. */
.btn_select_clicked,  .btn_select_clicked:focus {
    color:white;
}
/* Define our rad mode indicator style. */
.btn_rad_mode {
    border-color:wheat;
}
/* Define our rad zone key style.*/
.btn_zone {
    border-color:grey;
}
/* Define our blank rad zone key style.*/
.btn_zone_blank {
    border-color:grey;
}
/* Define our ufh mode indicator style. */
.btn_ufh_mode {
    border-color:wheat;
}
/* Define our ufh zone key style. 
.btn-ufh-zone {
    border-color:wheat;
}*/
/* When a zone button is clicked we change the border colour. */
.btn_zone_clicked,  .btn_zone_clicked:focus {
    border-color:yellow;
    color:white;
}
.btn_solid_green {
    background-color:rgb(13, 85, 13);
}       
.btn_solid_red {
    background-color:red;
}
.btn_flash_green {
    animation: blink 1s step-end infinite alternate;
    -moz-animation: blink 1s step-end infinite alternate;
    -webkit-animation: blink 1s step-end infinite alternate;
    background-color:rgb(13, 85, 13);           
}
.btn_flash_red {
    animation: blink 1s step-end infinite alternate;
    -moz-animation: blink 1s step-end infinite alternate;
    -webkit-animation: blink 1s step-end infinite alternate;
    background-color:red;           
}
/* Fade buttons and keep text white when we hover over them */
.btn:hover {
    opacity:0.8;
    color:white;
}
body, html, .container-fluid {
         height: 100%;
}
@-webkit-keyframes blink { 
    50% { background-color: grey; } 
}
@keyframes blink { 
    50% { background-color: grey;} 
}
.flex_container_space_between {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.flex_container_flex_start {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.flex_container_flex_end {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
.cyan_text_field {
    height: 100%;
    background-color:black;
    text-align: left;
    color:cyan;
}
.on_at_field {
    height: 100%;
    background-color:black;
    text-align: left;
    color:cyan;
    font-family: monospace bold ;
    font-size: 2.6vw;
}
.on_at_field_selected {
    height: 100%;
    background-color:black;
    text-align: left;
    color:red;
    font-family: monospace bold;
    font-size: 2.6vw;
}
.on_at_field_selected_cursor {
    height: 100%;
    background-color:black;
    text-align: left;
    color:red;
    font-family: monospace bold;
    font-size: 2.6vw;
    -webkit-animation: 1s on_at_cursor_blink step-end infinite;
    -moz-animation: 1s on_at_cursor_blink step-end infinite;
}
@-webkit-keyframes on_at_cursor_blink {
    from, to { color: transparent }
    50% { color: red }
}
@-moz-keyframes on_at_cursor_blink {
    from, to { color: transparent }
    50% { color: red }
}

.off_at_field {
    height: 100%;
    background-color:black;
    text-align: left;
    color:cyan;
    font-family: monospace bold ;
    font-size: 2.6vw;
}
.off_at_field_selected {
    height: 100%;
    background-color:black;
    text-align: left;
    color:red;
    font-family: monospace bold;
    font-size: 2.6vw;
}
.off_at_field_selected_cursor {
    height: 100%;
    background-color:black;
    text-align: left;
    color:red;
    font-family: monospace bold;
    font-size: 2.6vw;
    -webkit-animation: 1s off_at_cursor_blink step-end infinite;
    -moz-animation: 1s off_at_cursor_blink step-end infinite;
}
@-webkit-keyframes off_at_cursor_blink {
    from, to { color: transparent }
    50% { color: red }
}
@-moz-keyframes off_at_cursor_blink {
    from, to { color: transparent }
    50% { color: red }
}

.days_field {
    height: 100%;
    background-color:black;
    text-align: left;
    font-family: monospace bold;
    font-size: 2.6vw;
    color:cyan;
}
.days_field_selected {
    height: 100%;
    background-color:black;
    text-align: left;
    font-family: monospace bold;
    font-size: 2.6vw;
    color:red;
}
.days_field_selected_cursor {
    height: 100%;
    background-color:black;
    text-align: left;
    color:yellow;
    font-family: monospace bold;
    font-size: 2.6vw;
    -webkit-animation: 1s day_cursor_blink step-end infinite;
    -moz-animation: 1s day_cursor_blink step-end infinite;
}
@-webkit-keyframes day_cursor_blink {
    from, to { color: transparent }
    50% { color: red }
}
@-moz-keyframes day_cursor_blink {
    from, to { color: transparent }
    50% { color: red }
}

.flex_item_text_left {
    height: 100%;
    background-color:black;
    text-align: left;
    color:yellow;
}
.flex_item_text_right {
    height: 100%;
    background-color:black;
    text-align: right;
    color:yellow;
    padding-right: 0.5%;
}
.keyboard {
    height: 100%;
}
/*.rad-keyboard {
    height: 100%;
}
.ufh-keyboard {
    height: 100%;
}*/
.hide_keyboard {
    display: none;
}
.hide-display {
    display: none;
}
